<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Math Calculator</title>
    <script src="angular.js"></script>
    <script>
        var calculatorApp = angular.module("calculatorApp", []);
        calculatorApp.value("calculator", {
            add : function(n1, n2){
                return n1 + n2;
            },
            subtract : function(n1, n2){
                return n1 - n2;
            },
            multiply : function(n1, n2){
                return n1 * n2;
            },
            divide : function(n1, n2){
                return n1 / n2;
            },
        });
        calculatorApp.controller("calculatorController", function($scope, calculator){
            $scope.number1 = '';
            $scope.number2 = '';
            $scope.operation = '';
            $scope.result = '';
            $scope.calculate = function(){
                var n1 = parseInt($scope.number1, 10),
                    n2 = parseInt($scope.number2, 10);
                $scope.result = calculator[$scope.operation](n1, n2);
            };
        });
        calculatorApp.controller("dummyController", function($scope, calculator){
            console.log(arguments);
        });

    </script>
</head>
<body ng-app="calculatorApp" ng-controller="calculatorController">
    <input type="text" ng-model="number1">
    <select ng-model="operation">
        <option value="add">add</option>
        <option value="subtract">subtract</option>
        <option value="multiply">multiply</option>
        <option value="divide">divide</option>
    </select>
    <input type="text" ng-model="number2">
    <input type="button" value="Calculate" id="btnCalculate" ng-click="calculate()">
    <div id="divResult" ng-bind="result">[Result]</div>
    <div ng-controller="dummyController">

    </div>
</body>
</html>
