<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug Tracker</title>
    <style>
        div {
            margin-bottom: 10px;
        }
        .closed {
            color : red;
            text-decoration: line-through;
            font-style: italic;
            font-weight: bold;
        }
        ol{
            width : 60%;
        }
        li{
            cursor: pointer;
        }
        .stats{
            font-size: 16pt;
        }
    </style>
    <script>
    /*
        Use cases
        =========

        1. Display a list of bugs - done
        2. Add a new bug - done
        3. Toggle the closed status of bugs - done
        4. Remove closed bugs - done
        5. Display statistics (No of closed / total no of bugs) - done
        6. Search for bugs
        7. Sort the bugs
        8. Improvise the bug display
        9. Persist the bugs in the storage
        10. Display "createdAt" for each bug
        11. Persist the bugs in the server

        12. Edit the bugs
        ==================
        13. Include the "Project" functionality

    */
    </script>
    <script src="angular.js"></script>
    <script>
        var bugTrackerApp = angular.module("bugTrackerApp", []);
        bugTrackerApp.controller("bugsController", function($scope){
            $scope.bugs = [
                 {name : "Stack overflow error", isClosed : false},
                 {name : "Object reference not found", isClosed : false},
                 {name : "undefined is not a function", isClosed : false},
                 {name : "Server communication failure", isClosed : false},
            ];
            $scope.newBug = '';
            $scope.addNewBug = function(newBugName){
                var bug = {
                    name : newBugName,
                    isClosed : false
                };
                $scope.bugs.push(bug);
                $scope.newBug = '';
            };
            $scope.toggleBug = function(bug){
                bug.isClosed = !bug.isClosed;
            };
            $scope.removeClosed = function(){
                for(var i=$scope.bugs.length-1; i >=0; i--)
                    if ($scope.bugs[i].isClosed)
                        $scope.bugs.splice(i,1);
            };
            $scope.getClosedCount = function(){
                return $scope.bugs.filter(function(bug){
                    return bug.isClosed;
                }).length;
            };
        });
    </script>
</head>
<body ng-app="bugTrackerApp">
    <h1>Bug Tracker</h1>
    <hr>

    <div class="content" ng-controller="bugsController">

        <div class="stats">
            <span class="closed">{{getClosedCount()}}</span>
            /
            <span>{{bugs.length}}</span>
        </div>
        <div class="search"></div>
        <div class="sort"></div>
        <div class="list">
            <label for="">Bug :</label>
            <input type="text" ng-model="newBug">
            <input type="button" value="Add Bug" ng-click="addNewBug(newBug)">
            <input type="button" value="Remove Closed" ng-click="removeClosed()">
            <ol>
               <li ng-repeat="bug in bugs" ng-click="toggleBug(bug)" ng-class="{closed : bug.isClosed}">{{bug}}</li>
            </ol>
        </div>
    </div>
</body>
</html>
