<h3>Customers</h3>
<br>
<div>All the customers will be displayed here</div>
<br>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem explicabo repudiandae totam, perspiciatis. Vitae recusandae eligendi ipsum itaque repellat quo incidunt, facilis reiciendis a fugit placeat, voluptas rem, voluptatibus in.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, corporis maxime et obcaecati rem harum, tempore! Delectus impedit perferendis ex dignissimos ab, hic ipsum soluta assumenda tenetur, ratione iste cupiditate.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, dolorem nisi eius quia, ratione maxime dicta facilis deleniti libero placeat provident ab atque, facere neque perspiciatis praesentium temporibus. Voluptatem, doloribus?</div>
